@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #171821;
}

.content-wrapper {
    border-left: 2px solid #2C2D33;
    height: max-content;
}

.sidebar {
    width: 250px;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar .user-profile {
    background-color: #D2D2D2;
    margin: 12px 12px 12px 0px;
    padding: 4px;
    border-radius: 24px;
    box-sizing: border-box;
}

.user-profile .user-ava img {
    width: 15%;
}

.user-profile .user-name {
    color: #000;
    font-weight: 600;
    margin-left: 6px;
}

.sidebar .list-item {
    display: flex;
    margin: 12px 12px 12px 0px;
}

.sidebar .list-item a {
    width: 100%;
    padding: 12px 10px;
    border-radius: 24px;
    box-sizing: border-box;
    color: #87888C;
    text-decoration: none;
    transition: all ease-in .2s
}

.sidebar .list-item a:hover {
    color: #000000;
    background: #EC2E5C;
    transition: all ease-in .2s
}

.sidebar .list-item a:focus {
    color: #000000;
    background: #EC2E5C;
}

.sidebar .list-item svg {
    margin: 4px 6px 4px 12px;
}

.sidebar .list-item .dashboard, .profile, .order, .product, .sale, .message, .settings, .history, .signout {
    margin: 10px auto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.search-bar {
    background-color: #21222D;
    align-items: center;
    display: flex;
    margin-top: 20px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 24px;
}

.search-label {
    align-items: center;
    color: #D2D2D2;
    display: flex;
    justify-content: center;
    margin-left: 18px;
    padding: 0;
}

.search-input {
    background: transparent;
    border: 0;
    color: #D2D2D2;
    flex: 1;
    font-size: .8em;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0 0 0 8px;
}

/* dashboard */
.box-long {
    width: 100%;
    height: 300px;
    padding: 12px;
    background-color: #21222D;
    border-radius: 12px;
    box-sizing: border-box;
}

.box-short {
    width: 100%;
    height: 300px;
    background-color: #21222D;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
}

.box-name {
    color: #D2D2D2;
    margin: 0;
}

.box-name .title {
    font-size: 18px;
    font-weight: 600;
}

.box-name .sub-title {
    font-size: 12px;
    font-weight: 200;
    color: #87888C;
}

.box-item {
    width: 180px;
    height: 110px;
    background-color: #171821;
    padding: 12px;
    margin: 52px auto;
    border-radius: 12px;
    box-sizing: border-box;
}

.box-item:hover {
    background-color: #EC2E5C;
}

.box-item img {
    width: 32px;
    height: 32px;
}

.box-item .box-number a {
    text-decoration: none;
    color: #D2D2D2;
    font-size: 16px;
    font-weight: 600;
}

.box-item .box-description {
    color: #D2D2D2;
    font-size: 12px;
    font-weight: 400;
}

.box-short .level-graph img {
    position: relative;
    width: 70%;
    margin: auto;
}

.box-short .level-graph span {
    font-size: 12px;
    color: #87888C;
}

.box-short .rata-rata-graph img {
    position: relative;
    width: 90%;
    margin: auto;
}

.box-long .visitor-graph img {
    position: relative;
    width: 80%;
    margin: auto;
}

.box-short .rata-rata-graph p {
    color: #D2D2D2;
    font-size: 12px;
    font-weight: 400;
}

/* Page Table */
.box-table {
    box-sizing: border-box;
    background-color: #21222D;
    padding: 0px 40px;
    border-radius: 12px;
    color: #D2D2D2;
}

th, td {
    color: #D2D2D2;
}

.search-bar-order {
    background-color: #21222D;
    align-items: center;
    display: inline-flex;
    padding: 0;
    position: relative;
    width: 80%;
    height: 45px;
    border: 1px solid #D2D2D2;
    border-radius: 24px;
}

.box-table a {
    display: inline-block;
    color: #D2D2D2;
    text-decoration: none;
    width: 40px;
}

.box-table a:hover {
    color: #EC2E5C;
}

.button-status-order a {
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    display: inline;
    margin: 0 2rem;
    border: 1px solid #D2D2D2;
    border-radius: 24px;
    text-decoration: none;
}

.button-status-order a:hover 
{
    color: #000000;
    border: 1px solid #EC2E5C;
    background-color: #EC2E5C;
    border-radius: 24px;
}

.edit-order {
    padding: 12px;
    margin: 24px 0 0px 18px;
}

.button-edit-order {
    position: relative;
    margin: 14px 0 0px 18px;
    top: 35px;
}

/* Login */
.box-login {
    z-index: 999;
    margin: 100px auto;
    width: 100%;
    padding: 18px;
    background-color: #21222D;
    border-radius: 24px;
}

.login-title h3, h4 {
    color: #D2D2D2;
}

.login-input input {
    width: 80%;
    margin: auto;
}

.login-input .login-button {
    width: 80%;
    padding: 8px;
    color: #D2D2D2;
    border: 1px solid #fff;
    background-color: #21222D;
    border-radius: 24px;
}

.login-input a {
    position: relative;
    color: #D2D2D2;
    text-decoration: none;
}

.login-input a:hover {
    border: 1px solid #EC2E5C;
    background-color: #EC2E5C;
}

.login-forget a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: #D2D2D2;
}

.login-forget a:hover {
    text-decoration: underline;
    color: #EC2E5C;
}

.background-image img {
    position: absolute;
    width: 40%;
    right: 0px;
    top: 0px;

}

.background-image2 img {
    position: absolute;
    width: 20%;
    left: 0;
    bottom: 0;

}

.background-image3 img {
    position: absolute;
    width: 17%;
    left: 0;
    bottom: 0;

}

.background-image4 img {
    position: absolute;
    width: 14%;
    left: 0;
    bottom: 0;

}


/* Profile */
.profile-wrapper {
    background-color: #21222D;
    border-radius: 12px;
    height: 650px;
}

.profile-description, .profile-ava {
    color: #D2D2D2;

}

.profile-ava {
    border-left: 1px solid #87888C;
}

.profile-ava img {
    width: 40%;
}

/* Product */
.product-wrapper {
    box-sizing: border-box;
    background-color: #21222D;
}

.wrap-top {
border-radius: 12px 12px 0 0;
}

.wrap-bottom {
    border-radius: 0 0 12px 12px;
}

.box-product {
    background-color: #2C2D33;
    padding: 8px;
    border-radius: 12px;
    margin: 0 auto;
}

.box-product .edit-product, .delete-product {
    margin-left: 8px;
}

.box-product a {
    text-decoration: none;
    color: #D2D2D2;
}

.box-product a:hover {
    color: #EC2E5C;
}

.box-product img {
    width: 80%;
}

.box-product {
    color: #D2D2D2;
}

.product-add a {
    width: 100%;
    padding: 12px;
    border: 1px solid #D2D2D2;
    border-radius: 24px;
    color: #D2D2D2;
    text-decoration: none;
}

.product-add a:hover {
    border: 1px solid #EC2E5C;
    background-color: #EC2E5C;
}

/* message */
.message-wrapper {
    background-color: #21222D;
    box-sizing: border-box;
    height: 650px;
    border-radius: 12px;
}

.message-list {
    position: relative;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 12px 0 0 12px;
    background-color: #25262f;
}

.message-list:hover {
    background-color: #171821;
}

.message-list a {
    color: #D2D2D2;
    text-decoration: none;
}


.message-list .chat {
    position: absolute;
    display: block;
    color: #87888C;
    left: 61px;
    top: 40px;
    font-size: 12px;
    font-weight: 200px;
}

.message-detail {
    position: relative;
    background-color: #25262f;
    padding: 0 12px 16px 12px;
    border-radius: 0 12px 12px 0;
    height: 370px;
    border-left: 1px solid #D2D2D2;
}

.message-detail-profile {
    background-color: #000;
    border-radius: 0 12px 0 0;
}

.message-detail-chat {
    position: relative;

}

.message-detail svg {
    color: #D2D2D2;
    text-decoration: none;
}
.message-detail span {
    color: #D2D2D2;
    text-decoration: none;
}
.message-detail a {
    color: #D2D2D2;
    text-decoration: none;
}

/* .message-detail-chat svg {
    color: #171821;
} */

.message-detail-chat .chat {
    border-radius: 12px;
    background-color: #171821;
    position: absolute;
    top: 15px;
    font-size: 12px;
    font-weight: 200px;
}

.message-detail-chat .chat-time {
    position: absolute;
    top: 63px;
    font-size: 10px;
    font-weight: 200px;
}

.message-detail-chat .chat-admin {
    border-radius: 12px;
    background-color: #176b5b;
    position: absolute;
    font-size: 12px;
    font-weight: 200px;
}

.message-detail-chat  img {
    position: absolute;
    width: 10%;
}

.message-input {
    position: relative;
    background-color: #000;
    color: #D2D2D2;
    height: 30px;
    font-size: 12px;
    font: .8em;
    top: 200px;
    border: 0;
    border-radius: 24px;
    outline: none;
}

/* tambah produk */
.tambah-produk-wrapper {
    background-color: #21222D;
}

.ukuran-produk h5, .upload-foto-produk h5, .upload-foto-produk svg, .tambah-produk-subtitle {
    color: #D2D2D2;
    font-size: 12px;
}

.tambah-produk {
    color: #D2D2D2;
}

.upload-foto-produk {
    border: 1px dashed #EC2E5C;
    background-color: #21222D;
    padding: 12px;
    border-radius: 12px;
    width: 100px;
}

.tambah-produk-input input {
    background-color: #000;
    color: #D2D2D2;
    height: 30px;
    font-size: 12px;
    border: 1px solid #EC2E5C;
    border-radius: 24px;
    outline: none;
    padding: 8px;
    width: 100%;
    height: 40px;
    position: relative;
}

.ukuran-produk h5 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #EC2E5C;
    line-height: 50px;
    background-color: #000;
    border-radius: 50%;
}

.ukuran-produk h5:hover {
    background-color: #EC2E5C;
    color: #2C2D33;
}

.tambah-produk-button a {
    padding: 8px;
    border: 1px solid #EC2E5C;
    border-radius: 24px;
    text-decoration: none;
    color: #D2D2D2;
    margin-right: 16px;
    background-color: #000;
    font-size: 12px;
}

.tambah-produk-button a:hover {
    background-color: #EC2E5C;
}

.tambah-produk-button-large a {
    padding: 16px;
    border-radius: 24px;
    text-decoration: none;
    color: #000;
    margin-right: 16px;
    background-color: #EC2E5C;
    font-size: 12px;
}

.tambah-produk-button-large a:hover {
    background-color: #000;
    color: #D2D2D2;
}


